name: Docker Build and Push
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build-push-docker-images:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Docker build setup
        uses: docker/setup-buildx-action@v3

      # This step runs only upto the test stage
      - name:  Run the unit test 
        run: |
          docker build --target test -t myapp:test .
      # This step runs only if the unit test passes
      - name: Login to DockerHUB
        if: success()
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
